#gov-header {
  font-size: 12px;
}

#paired-navbars {
  background-color: #112e51;
}

.nav-pills .nav-link.active {
  background-color: #0071bb;
}

.nav-link {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

hr {
  color: white;
  opacity: 1;

  max-width: 1008px;

  margin-bottom: 8px;
}

.about-va-link {
  color: #5247a3;
  line-height: 30px;
  text-decoration: none;
}

.about-va-link:hover {
  line-height: 30px;
  text-decoration: underline;
}

.afr-link {
  color: #004795;
  text-decoration: none;
}